<h1>{{ title }}</h1>

<hr>

{{#if doYouGetNode}}
<p>
    You get node !!!<br>
    Hurra ! You did it !!! {{{ icon1 }}}
</p>
{{else }}
<p>
    You don't get node yet... no worries<br>
    KEEP UP THE GOOD WORK !!! {{{ icon2 }}}
</p>
{{/if}}