<form method="post" action="" class="form">
    <h1>Signup</h1>
    <label for="firstname">firstname</label>
    <input class="input" id="firstname" name="lastname" type="text" value="testname">
    <label for="email">email</label>
    <input class="input" id="email" name="email" type="email" value="testname@testmail.com">
    <label for="password">password</label>
    <input class="input" id="password" name="password" type="password" value="12345Sunshine">
    <button class="btn">go</button>
</form>