<form action="" class="form">
    <h1>Signup</h1>
    <label for="firstname">firstname</label>
    <input class="input" id="firstname" name="firstname" type="text">
    <label for="email">email</label>
    <input class="input" id="email" name="email" type="email">
    <label for="password">password</label>
    <input class="input" id="password" name="password" type="password">
    <button class="btn">go</button>
</form>