* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 2px solid;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease-out;
}

.box:hover {
  background: red !important;
  color: black;
}

.box.is-active {
  background: gold !important;
  color: black;
}


