<header id="header_main">
    <nav id="nav_main">
        <a class="link" href="/home">home</a>
        <a class="link" href="/signup">signup</a>
        <a class="link" href="/all-students">all students</a>
    </nav>
</header>