<header id="header_main">
    <nav id="nav_main">
        <a class="link" href="/home">home |</a>
        <a href="/all-artists">all artists |&nbsp;</a>
        <a href="/create-artist">create artist |&nbsp;</a>
        <a href="/manage-artists">manage artists |&nbsp;</a>
        <a href="/manage-styles">manage styles |&nbsp;</a>
    </nav>
</header>