<nav id="nav_admin" class="nav">
    <a class="link" href="/create-artist"><b><i class="far fa-edit"></i></b>artist</a>
    <a class="link" href="/create-album"><b><i class="far fa-edit"></i></b>album</a>
    <a class="link" href="/manage-artists"><i class="fas fa-tasks"></i>artists</a>
    <a class="link" href="/manage-albums"><i class="fas fa-tasks"></i>albums</a>
    <a class="link" href="/manage-styles"><i class="fas fa-tasks"></i>styles</a>
</nav>