* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: darkorange;
}

#nav_main {
  background: black;
  color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#nav_mobile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 35vh;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  background: #000000c4;
  color: white;
  z-index: 5;
  width: 100%;
  left: -100%;
  top: 50px;
  transition: left 0.4s linear;
  font-size: 1.2rem;
}

#nav_mobile.is-active {
  left: 0;
}

#content_main {
  padding: 20px;
  position: relative;
  top: 50px;
}

.intro {
  background: darkslateblue;
  border-radius: 0.45rem;
  color: white;
  padding: 20px;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}

#burger {
  cursor: pointer;
  position: relative;
  z-index: 10;
  font-size: 1.5rem;
}

#heart {
  color: black;
  transition: all 0.5s ease-in;
  position: absolute;
  top: 15px;
  transform: scale(1);
  right: 15px;
}

#heart:hover {
  transform: scale(1.5);
  color: red;
}
