<h1 class="title">Admin page</h1>
<p>
    @todo : create nice widget-like buttons here linking to main admin features.<br>
    @todo : Create dataviz here highlighting important app's metrics. (hint : chart.js)
</p>
{{!-- <ul class="list">
    <li class="item">
        <a href="">albums</a>
        <a href="">artists</a>
        <a href="">styles</a>
    </li>
</ul> --}}