<h1 class="title">Admin page</h1>

<img id="avatar_img" src="{{currentUser.avatar}}" alt="avatar" class="avatar">
<hr>
<p>
    @todo : create nice widget-like buttons here linking to main admin features.<br><br>
    @todo : Create a nice data-vizualisation here, highlighting important app's metrics. (hint => give the library
    chart.js a try !)
</p>