<h1 class="title">Admin page</h1>
<p>
    @todo : create nice widget-like buttons here linking to main admin features.<br><br>    
    @todo : Create a nice data-vizualisation here, highlighting important app's metrics. (hint => give the library chart.js a try !)
</p>
{{!-- <ul class="list">
    <li class="item">
        <a href="">albums</a>
        <a href="">artists</a>
        <a href="">styles</a>
    </li>
</ul> --}}