<h1 class="title">All artists</h1>
<ul class="list artists">
    {{#each artists}}
    <li class="artist shadow-box">
        <div class="color-code" style="background: {{color-cat this.style.name}}"></div>
        <h2 class="title">{{this.name}}</h2>
        <a href="/artist/{{this._id}}">see details...</a>
    </li>
    {{/each}}
</ul>