<h1>{{artist.name}}</h1>
{{!-- <pre>
    {{artist}}
</pre> --}}
<hr>
<p> {{artist.description}}
</p>
<hr>
<p>
    <b>@todo : + display artist description + all related albums for a given artist </b>
</p>