<h1>{{artist.name}}</h1>
{{!-- <pre>
    {{artist}}
</pre> --}}
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quod nam reprehenderit, magnam cumque hic eaque autem molestiae sed obcaecati rerum modi suscipit repudiandae accusamus error, neque reiciendis dolor expedita.
</p>
<hr>
<p>
    <b>@todo : + display artist description + all related albums for a given artist </b>
</p>