<h1>{{artist.name}}</h1>
{{artist}}
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quod nam reprehenderit, magnam cumque hic eaque autem molestiae sed obcaecati rerum modi suscipit repudiandae accusamus error, neque reiciendis dolor expedita.
</p>
<p>
    @todo : display all informations here<br>
    + display all related albums ;)
</p>