<h1 class="title">Create new Album</h1>

<form id="form-create-album" method="post" action="/create-album" class="form">

    <label for="title">title</label>
    <input class="input" id="title" name="title" type="text" required>
    <label for="artist">artist</label>

    <select name="artist" id="artist" class="input" required>
        {{#each artists}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="cover">cover</label>
    <input class="input" id="cover" name="cover" type="text">
    <label for="releaseDate">releaseDate</label>
    <input class="input" id="releaseDate" name="releaseDate" type="date">
    <button class="btn">create !</button>
</form>
