<form method="post" action="/create-artist" class="form">
    <h1 class="title">Create new Artist</h1>
    <label for="name">name</label>
    <input class="input" id="name" name="name" type="text" value="" required>
    <div class="row" style="max-width: 300px; justify-content: space-between">
        <label>Band ?</label>
        <div>
            <label for="yes">yes</label>
            <input type="radio" name="isBand" id="yes" value="1">
        </div>
        <div>
            <label for="no">no</label>
            <input type="radio" name="isBand" id="no" value="0" checked>
        </div>
    </div>
    <label for="style">Style</label>
    <select name="style" id="style" class="input">
        {{#each styles}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <button class="btn">create !</button>
</form>