{{> search_bar }}

<h1 class="title">home</h1>

<div class="call-to-action">
    <a class="btn" href="/all-artists">view all artists</a>
    <a class="btn" href="/create-artist">a new artist</a>
</div>