{{> search_bar }}

<h1 class="title">home</h1>
<div class="call-to-action">
    <a class="btn" href="/all-artists">View all artists</a><br>
    {{#if isAdmin}}
    <a class="btn" href="/create-artist">Add a new artist</a>
    {{/if}}
</div>
<hr>
<h2 class="title">MOB D.I.Y</h2>
<p>
    Use the provided code to...
</p>
<h2 class="title">Sync Challenge</h2>
<ol>
    <li>add a "description" field on the artist model (String)</li>
    <li>make changes to add a description @ views/form-artist.hbs</li>
    <li>display the description @ views/artist.hbs</li>
    <li>display all albums for one artist @ /artist/:id</li>
</ol>
<hr>
<h2 class="title">Sync Challenge II</h2>
<ol>
    <li>Code the CRUD part for the label (as in music company).</li>
    <li>Each album is linked to a label document by ObjectId reference.</li>
</ol>
<hr>
<h2 class="title">Async Challenge</h2>
<ol>
    <li>code the <a class="link" target="_blank" href="http://localhost:9090/manage-styles">edit-style</a> client/server cycle...</li>
    <li>... the Async way (dom+axios+route(req, res)+model+res.json())</li>
</ol>
<hr>
<h2 class="title">Async Challenge II</h2>
<ol>
    <li>Add a AJAX filter feature @ /all-artists : it should filter the artists by bands only.</li>
    <li>Add a AJAX filter feature @ /all-albums : it should sort the albums by date.</li>
</ol>
