<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>full-stack express @rtist</title>
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}

    {{#each js}}
    <script type="module" src="/js/{{this}}.js"></script>
    {{/each}}
</head>

<body>

    {{> header_main}}

    <main id="content_main">
        {{> flash_message }}
        {{{body}}}
    </main>

    <footer id="footer_main">
        <span>JS +&nbsp;</span><i class="fa fa-heart"></i>&nbsp;<span>+</span>&nbsp;<i class="fa fa-code"></i>&nbsp;
        === {{toto 0}}
    </footer>
</body>

</html>