.artists {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.artists .artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
  padding: 10px;
  border-radius: 0.35rem;
  position: relative;
}

.artists .artist .color-code {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.artist .stars {
  margin-top: 7px;
}

.artist .stars .star {
  color: #ffbe00;
}
