<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module 2, Day 4 - Express | Mongoose | Relations</title>
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}

    {{#each js}}
    <script type="module" src="/js/{{this}}.js"></script>
    {{/each}}
</head>

<body>
    {{> header_main}}

    <main id="content_main">
        {{{body}}}
    </main>

    
</body>

</html>