<form method="post" action="/signup" class="form">
    <h1>Signup</h1>
    <label for="firstname">firstname</label>
    <input class="input" id="firstname" name="firstname" type="text" value="testname">
    <label for="email">email</label>
    <input class="input" id="email" name="email" type="email" value="testname@testmail.com">
    <label for="password">password</label>
    <div class="row">
        <input class="input" id="password" name="password" type="password" value="12345Sunshine">
        <i id="eye" class="icon is-clickable fas fa-eye fa-lg"></i>
    </div>
    <button class="btn">go</button>
    {{!-- <input type="submit" value="go"> --}}
</form>